@use "variables" as *;
@use "reset";
@use "utilities";

/**
* GENERAL
**/

body {
  font-family: $ff-body;
  line-height: $lh-body;
  color: $clr-black;
}

* {
  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: inset 0px 0px 0px 4px $clr-gray-light;
  }
}

input[aria-invalid="true"] {
  box-shadow: inset 0px 0px 0px 4px $clr-error;
}

/**
* HEADER
**/

.header {
  height: 18.75rem;
  padding: 1.5rem;
  background: $clr-accent url("../assets/pattern-bg.png") no-repeat center;
  background-size: cover;

  &-title {
    margin-bottom: 1.5rem;
    color: $clr-white;
    font-weight: $fw-medium;
    text-align: center;
    font-size: $fs-xl;
  }

  @media (min-width: $screen-md) {
    height: 17.5rem;
    padding: 1.75rem;

    &-title {
      font-size: $fs-2xl;
      margin-bottom: 1.75rem;
    }
  }
}

.form {
  $border-radius: 0.875em;
  $height: 3.625rem;

  position: relative;
  display: flex;
  width: min(100%, 34.625rem);
  margin-inline: auto;

  &-group {
    position: relative;
    flex: 1 1 0%;
    #search {
      width: 100%;
      height: $height;
      padding-inline: 1.5rem;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      font-size: $fs-md;
      letter-spacing: $ls-normal;
      background-color: $clr-white;

      /* Truncate */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &::placeholder {
        color: $clr-gray-light;
      }
    }

    #search-error {
      position: absolute;
      top: 100%;
      left: 1.5rem;
      font-size: $fs-sm;
      font-weight: $fw-medium;
      letter-spacing: $ls-normal;
      color: $clr-error;
      text-shadow: 1px 1px 1px $clr-divider;
      @media (min-width: $screen-md) {
        font-size: $fs-base;
      }
    }
  }

  &-submit {
    display: grid;
    place-content: center;
    width: $height;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    cursor: pointer;
    background-color: $clr-black;
    transition: background-color 300ms ease-in-out;
    &:hover {
      background-color: $clr-gray-dark;
    }
    svg {
      color: $clr-white;
      width: 11px;
    }
  }
}

.results {
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: min(100%, 69.375rem);
  margin-top: 1.5rem;
  margin-inline: auto;
  padding: 1.5rem;
  border-radius: 0.875em;
  background-color: $clr-white;

  @media (min-width: $screen-md) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3rem;
  }

  @media (min-width: $screen-lg) {
    padding: 2.25rem 0;
  }
}

.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.375rem;
  #timezone {
    white-space: nowrap;
  }
  &-title {
    font-size: $fs-xs;
    letter-spacing: $ls-wide;
    font-weight: $fw-medium;
    color: $clr-gray-light;
    text-transform: uppercase;
  }
  &-content {
    font-size: $fs-lg;
    font-weight: $fw-medium;
  }

  @media (min-width: $screen-md) {
    text-align: left;
    gap: 0.875rem;
    &-title {
      font-size: $fs-sm;
      font-weight: $fw-bold;
    }
    &-content {
      font-size: $fs-xl;
      max-width: 11ch;
    }
  }

  @media (min-width: $screen-lg) {
    padding-inline: 2.25rem;
    &:not(:first-child) {
      position: relative;
    }
    &:not(:first-child)::after {
      content: "";
      display: block;
      position: absolute;
      right: 100%;
      width: 1px;
      height: 100%;
      padding-block: 0.75em;
      background-color: $clr-divider;
      background-clip: content-box;
    }
  }
}

/**
* MAP
**/

@import "leaflet/dist/leaflet.css";

#map {
  flex: 1;
  background-color: $clr-gray-light;
}
